<div class="card mb-50">
  <div class="card-body">
    <div class="row mb-20">
      <div class="col">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @progress_percentage %>%;" aria-valuenow="<%= @progress_percentage %>" aria-valuemin="0" aria-valuemax="100"><%= @progress_percentage %>%</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="editMode">
          <label class="form-check-label" for="editMode">Edit mode</label>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="expandAll">
          <label class="form-check-label" for="expandAll">Expand all</label>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="showForeignId" checked>
          <label class="form-check-label" for="showForeignId">Show foreign id</label>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="showAll">
          <label class="form-check-label" for="showAll">Show id, created_at, updated_at</label>
        </div>
      </div>
    </div>
  </div>
</div>
